* { 
    box-sizing: border-box; 
    margin: 0; 
    padding: 0; 
}

body, html {
    height: 100%;
    background-color: white;
}

.chat-container {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.chat-header {
    padding: 10px;
    text-align: center;
    background-color: white;
    color: black;
    font-size: 10px;
    font-weight: bold;
    flex-shrink: 0;
    border-bottom: 1px solid #ddd;
}

/* 채팅 메세지 영역 */
.chat-messages {
    flex: 1;
    overflow-y: auto;
    padding: 15px;
    display: flex;
    flex-direction: column; /* 위에서 아래로 */
    gap: 10px;
}

.bot-logo {
    width: 30px;
    height: 30px;
    margin-top: 5px;
    border-radius: 50%; 
    align-self: flex-start;
    margin-right: 5px;
}

.message {
    display: flex;
}

.message.user {
    align-self: flex-end; /* 오른쪽 정렬 */
}

.message.bot {
    align-self: flex-start; /* 왼쪽 정렬 */
}

.bubble {
    padding: 10px 15px;
    border-radius: 15px;
    font-size: 13px;
    line-height: 1.4;
    word-break: break-word;
}

/* 색상 */
.message.user .bubble {
    background-color: blue; 
    color: white;
    border-bottom-right-radius: 0;
}

.message.bot .bubble {
    background-color: #e9ecef;
    color: black;
    border-bottom-left-radius: 0;
}

/* 입력 */
.chat-input-area {
    display: flex;
    padding: 10px;
    background-color: white;
    border-top: 1px solid #ddd;
}

#user-input {
    flex: 1;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 20px;
    outline: none;
}

#send-btn {
    margin-left: 10px;
    padding: 0 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 20px;
    font-weight: bold;
    cursor: pointer;
}

/* 중복 방지 css */
#send-btn:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}

